node_modules/
package-lock.json
.env

public/uploads/*
public/uploads/admins/*
public/uploads/customers/*
public/uploads/service-provider/*

!public/uploads/admins/
!public/uploads/customers/
!public/uploads/service-provider/
!public/uploads/img-not-found.jpg
!public/uploads/admins/default.png
!public/uploads/customers/default.png
!public/uploads/service-provider/default.png